<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.buildship.core.projectconfigurators">
      <configurator
            class="org.eclipse.buildship.sample.rf.ResourceFilterConfigurator"
            id="org.eclipse.buildship.sample.resourcefilteronfigurator"
            runsAfter="org.eclipse.buildship.configurators.base">
      </configurator>
   </extension>

</plugin>
